@media (max-width: 0px) {
  .container {
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 576px) {
  .container {
    margin-left: 0;
    margin-right: 0; } }

html, body {
  font-family: "Assistant", sans-serif;
  height: 100%;
  width: 100%;
  z-index: 0; }

a:link {
  color: #a8009a; }

a:visited {
  color: #a8009a; }

a:hover {
  color: #a8009a; }

a:active {
  color: #a8009a; }

.blok1 {
  height: 100%;
  background-image: url("/img/fullsizepic.png");
  background-position: center center;
  background-size: cover; }

.home-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.home-head {
  font-size: 20px;
  line-height: 26px; }
  @media (min-width: 576px) {
    .home-head {
      font-size: 30px;
      line-height: 40px; } }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 2.0em; }
  .row-content H1 {
    text-align: center;
    font-size: 56px;
    padding-top: 8px;
    padding-bottom: 20px; }
  .row-content P, .row-content LI {
    font-size: 18px; }

.row-content-sm {
  padding-top: 30px;
  padding-bottom: 30px; }

.primary {
  color: #a8009a; }

.footer {
  background-color: #f9f9f9;
  margin: 0px auto;
  padding: 20px 0px; }

.greyish {
  background-color: #f9f9f9; }

.navbar-inverse {
  background-color: transparent; }

.thead-inverse TH {
  background-color: #585858; }

strong.EQ, td.EQ {
  background-color: #ffcc99; }

strong.FI, td.FI {
  background-color: #cfe3fc; }

strong.IN, td.IN {
  background-color: #dbc1ff; }

strong.grey, TD.grey {
  background-color: #f1f1f1; }

strong.darkgrey, TD.darkgrey, TR.darkgrey TD, TR.sdarkgrey TD.darkgrey {
  background-color: #585858;
  color: #fff; }

strong.sdarkgrey, TD.sdarkgrey, TR.sdarkgrey TD {
  background-color: #aaa;
  color: #fff; }

strong.good {
  background-color: #589c18;
  color: #ffffff; }

strong.notgood {
  background-color: #c60f13;
  color: #ffffff; }
